.homePage
    margin-top: 50px
    position: relative
    z-index: 100
    &__title
        color: white
        span
            color: var(--green)
    &__sub-title
        color: white
        font-weight: 600
        font-size: 18px
        margin-top: 25px
    &__description
        line-height: 1.5
        width: 70%
        color: white
        margin-top: 15px
        font-family: var(--font-family)
    &__quotes
        color: var(--green)
        font-size: 18px